<div class="row">
  <% if @country %>
    <div id="google-map" data-lat="<%= @country['latitude_dec'] %>" data-lng="<%= @country['longitude_dec'] %>"></div>
  <% else %>
    <div id="google-map" data-lat="0" data-lng="0"></div>
  <% end %>
</div>
<div class="row">
  <div class="page-header">
    <h1><%= @country ? @country['name'] : 'Spots' %></h1>
  </div>
  <%= render partial: 'spots/spot/small', collection: @spots, as: :spot %>
</div>