<div class="page-header">
  <h1><%= @image.imageable_type %> Image</h1>
</div>
<p><%= image_tag @image.url %></p>
<p><strong>Description:</strong><br><%= @image.description %></p>
<p><strong>Approved:</strong><br><%= @image.approved %></p>